# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=your_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id

# Cloudflare R2 Configuration (for Image Uploads)
R2_ACCOUNT_ID=75549bb6c60165f8190d3c0803706fff
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_BUCKET_NAME=33hadis
# The public URL of your R2 bucket (Custom domain or r2.dev subdomain)
NEXT_PUBLIC_R2_PUBLIC_URL=https://your-public-url.com
