rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // allowlist admin emails
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'meoncu@gmail.com';
    }

    match /hadiths/{hadithId} {
      // Public: anyone can read published hadiths
      allow read: if resource.data.yayinDurumu == 'published' || isAdmin();
      
      // Admin: full access
      allow create, update, delete: if isAdmin();
    }
    
    // Global rule for other collections
    match /{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
